
.flex-container{
    display: flex;
    justify-content:space-evenly;
    margin-top: 10%;
}

.flex-container > div {
  
    border: 4px solid red;
    border-radius: 10px;
    width: 18vw;
    height: 50vh;
    font-size: 30px;
    line-height: 13vh;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

.heading{
    position: relative;
    left: 12vw;
    top: 15vh;
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h{
    font-weight: none;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(199, 192, 192);
}


font2{
    position: relative;
    bottom: 20px;
    color: rgb(199, 192, 192);

}

 
 .box {
    position: relative;
    top: -67vh;
    left: 70vw;
    width: 40%;
    background-clip: padding-box;
  }

  .box2{
    position: relative;
    top: -18vh;
    left: 25vw;
    width: 40%;
    background-clip: padding-box;

  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  
  .popup .close {
    position: absolute;
    top: 50px;
    right: 30px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: red;
  }

  .add{
    width:  30vw;
    height: 30vh;
    border: 2px solid red;
    border-radius: 12px;
    color: red;
    text-align: center;
    line-height: 160px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 30vh;
    left: 35vw;
    z-index: 1;
   
}


input[type="text"] {
   width: 30%;
   height: 30px;
   position: relative;
   top: -45%;

   
}

button{
    border:none;
    border-radius: 16px ;
    width: 30%;
    height: 40px;
    background-color: red;
    position: relative;
    top: -80%;

}

  
 
